<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="BACKUP_FILE" value=""/>
		<add key="STORAGE_NUMBER" value="NA9NLF36"/>
		<add key="STORAGE_PLACE" value="Серверная 50 лет Октября 4/2"/>
		<add key="COPY_CONTENT_1" value="Database MFC"/>
		<add key="COPY_CONTENT_2" value="Database 1C/Intep"/>
		<add key="WORKER_1" value="Авраменко А.С., инженер-программист"/>
		<add key="WORKER_2" value="Тихонов В.Г., ведущий программист"/>
		<add key="WORKER_3" value="Хлобыстов И.В., .ведущий программист"/>
		<add key="WORKER_4" value="Андрущенко А.В., ведущий программист"/>
		<add key="WORKER_5" value="Гаманец В.Г., начальник отдела"/>
	</appSettings>
</configuration>
